{% include "store/base.html" %}
{% load static %}
{% block content %}


<div class="container bg-white shadow-md p-5 form-layout border mt-4 mb-4">
        <h4><i class="fa fa-envelope icon-wrapper" aria-hidden="true"></i>  Password Reset Sent</h4>
        <hr>
        <p>We've sent an email with instructions to reset your password to the address you provided. Please check your inbox and follow the steps in the email to reset your password.</p>
        <p>If you don't see the email, please check your spam or junk folder.</p>
        <br>
        
        <a class="btn btn-primary btn-lg w-100 btn-block p-2" href="{% url 'user-login' %}">Back to Login</a>

</div>

{% endblock %}
